<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Регистрация</title>
  </head>
  <body>
    <div class="container mt-4">
      <h2>Регистрация</h2>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-{{ messages[0].split(' ')[0] }}">
        {{ messages[0] }}
      </div>
      {% endif %} {% endwith %}
      <form method="post" action="{{ url_for('register') }}">
        <div class="form-group">
          <label for="username">Имя пользователя:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Зарегистрироваться
        </button>
      </form>
      <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a>.</p>
    </div>
  </body>
</html>
